:root {
    --p-primary-50: #e0f7ff;
    --p-primary-100: #b3e5fc;
    --p-primary-200: #81d4fa;
    --p-primary-300: #4fc3f7;
    --p-primary-400: #29b6f6;
    --p-primary-500: #03a9f4;
    --p-primary-600: #039be5;
    --p-primary-700: #0288d1;
    --p-primary-800: #0277bd;
    --p-primary-900: #01579b;
    --p-primary-950: #004d8c;
    --p-surface-0: #ffffff;
    --p-surface-50: #f7fafc;
    --p-surface-100: #edf2f7;
    --p-surface-200: #e2e8f0;
    --p-surface-300: #cbd5e0;
    --p-surface-400: #a0aec0;
    --p-surface-500: #718096;
    --p-surface-600: #4a5568;
    --p-surface-700: #2d3748;
    --p-surface-800: #1a202c;
    --p-surface-900: #171923;
    --p-surface-950: #0f1115;
    --p-content-border-radius: 6px;
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark */
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-highlight-background: color-mix(
            in srgb,
            var(--p-primary-400),
            transparent 84%
        );
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(
            in srgb,
            var(--p-primary-400),
            transparent 76%
        );
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-0);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}
